{% extends "base-admin.html" %}
{% load i18n %}
{% load windows %}

{% block title %}{{ ev }}{% endblock %}

{% block content %}
    <div class="page-header">
        {% block pretitle %}
        <h1 class="inline">
            {{ ev }} <small>{% trans "Window ticket admin" %}</small>
            <small class="pull-right"> {{ date|date:"l j F Y" }} </small>
        </h1>
        {% endblock %}
    </div>

    <div class="text-center">
        <form method="GET">
            <input type="date" name="date" id="currentDate" value="{{ date|date:"Y-m-d" }}" onChange="this.form.submit()" />
        </form>
    </div>

    <hr/>

    <table class="table table-bordered table-striped text-center">
        <tr>
            <th class="text-center">{% trans "name" %}</th>
            <th class="text-center">{% trans "movement" %}</th>
            <th class="text-center">{% trans "tickets" %}</th>
            <th class="text-center">{% trans "sold" %} ({% trans "cash" %} + {% trans "card" %})</th>
            <th class="text-center">{% trans "cash" %}</th>
        </tr>
        {% for w in windows %}
            <tr>
                <td>
                    <a target="_blank" href="{% url 'window_multipurchase' ev.slug w.slug %}">{{ w }}</a>
                </td>
                <td>
                    <a target="_blank" href="{% url 'admin:windows_ticketwindowcashmovement_add' %}">{% trans "add / remove" %}</a>
                </td>
                <td>
                    <span id="tickets-{{ w.id }}">{% tickets_today w date %}</span>
                </td>
                <td>
                    <span id="sold-{{ w.id }}">{% sold_today w date %}</span> €
                    (<span id="cash-{{ w.id }}">{% sold_today_cash w date %}</span> €
                    +
                    <span id="card-{{ w.id }}">{% sold_today_card w date %}</span> €)
                </td>
                <td>
                    <span id="money-{{ w.id }}">{{ w.cash }}</span> €
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
