{% extends "tickets/multipurchase.html" %}
{% load i18n %}
{% load staticfiles %}

{% block personal_info %}
{% endblock %}

{% block info %}
{% endblock %}

{% block header %}
    <h1> {{ window.name }} /
    <small class="text-danger">{{ request.user.username }}</small> /
    <small>{{ ev }}</small>
    <small class="text-info pull-right">
        <a href="{% url 'window_logout' window.event.slug window.slug %}">
        {% trans "logout" %}
        </a>
    </small>
    </h1>
{% endblock %}

{% block extraform %}target="_blank"{% endblock %}

{% block button %}
    <div class="row window-foot">
        <div class="col-sm-2">
            <!-- TODO, add discounts here -->
            <button id="clean" class="btn btn-danger btn-block btn-lg"> {% trans "Clean" %} </button>
        </div>
        <div class="col-sm-8">
            <table class="table table-bordered text-center">
                <tr>
                    <th class="text-center">{% trans "Total" %}</th>
                    <th class="text-center">{% trans "Payment" %}</th>
                    <th class="text-center">{% trans "Payed" %}</th>
                    <th class="text-center">{% trans "Change" %}</th>
                </tr>
                <tr>
                    <td><input type="text" name="price" id="total" class="outputbox text-primary" value="0" readonly tabindex="-1"/></td>
                    <td class="text-left">
                        <div class="radio">
                          <label>
                            <input type="radio" name="payment" value="cash" checked>
                            {% trans "cash" %}
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" name="payment" value="card">
                            {% trans "credit card" %}
                          </label>
                        </div>
                    </td>
                    <td> <input type="number" name="payed" class="form-control inputbox" id="payed"/> </td>
                    <td> <input type="text" id="change" name="change" class="outputbox text-success" value="0" readonly tabindex="-1"/> </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-2">
            <button id="finish" class="btn btn-success btn-block btn-lg"
                data-msg="{% trans "The ticket will be purchased, are you sure?" %}">
                {% trans "Finish" %}
            </button>
        </div>
    </div>
{% endblock %}

{% block extrabody %}
    {{ block.super }}
    <script src="{% static 'js/window.js' %}"></script>
{% endblock %}
