{% extends "tickets/multipurchase.html" %}
{% load i18n %}
{% load staticfiles %}

<!-- LIKE CANNOT extends two html, base-admin.html should be applied here -->
{% block head %}
<!-- empty -->
{% endblock %}

{% block translation %}
<!-- empty -->
{% endblock %}

{% block foot %}
<!-- empty -->
{% endblock %}
<!--END -->

{% block ticket_info %}
<!-- empty -->
{% endblock %}

{% block personal_info %}
{% endblock %}

{% block info %}
<span id="floating-log" type="button">
    <b>{% trans "Last sales" %}</b>
    <span id="floating-log-input"></span>
</span>
{% endblock %}

{% block extrahead %}{{ block.super }}
    <link href="{% static "css/window.css" %}" rel="stylesheet"/>
{% endblock %}

{% block pheader %}
    {% block pretitle %}
    <h1 class="inline"> {{ window.name }} /
    <small class="text-danger">{{ request.user.username }}</small> /
    <small>{{ ev }}</small>
    <small class="text-info pull-right">
        <a href="{% url 'window_logout' window.event.slug window.slug %}">
        {% trans "logout" %}
        </a>
    </small>
    </h1>
    {% endblock %}
{% endblock %}

{% block extraform %}target="_blank"{% endblock %}

<!-- GRID tickets -->
{% block col-session-num-1 %}<div class="col-md-4 col-xs-9">{% endblock %}
{% block col-session-num-2 %}<div class="col-md-1 col-xs-3">{% endblock %}
{% block col-session %}<div class="col-md-5 col-xs-12">{% endblock %}
{% block col-input %}<div class="sessioninput-td col-md-7 col-xs-12">{% endblock %}
<!-- END GRID tickets -->

{% block button %}
    <div class="row window-foot">
        <div class="col-sm-2">
            <label>{% trans "Discount:" %}</label>
            <td class="text-left">
                <div class="radio">
                  <label>
                    <input type="radio" name="discount" value="" checked
                              data-type="" data-unit="" data-value=0>
                    {% trans "None" %}
                  </label>
                </div>
            {% for discount in discounts %}
                <div class="radio">
                  <label>
                      <input type="radio" name="discount" value={{ discount.id }}
                              data-unit={{ discount.unit }} data-type={{ discount.type }}
                              data-value={{ discount.value }}>
                    {{ discount }}
                  </label>
                </div>
            {% endfor %}
            </td>
            <input id="clean" type="button" class="btn btn-danger btn-block btn-lg" value="{% trans "Clean" %}" />
        </div>
        <div class="col-sm-8">
            <table class="table table-bordered text-center">
                <tr>
                    <th class="text-center">{% trans "Total" %}</th>
                    <th class="text-center">{% trans "Payment" %}</th>
                    <th class="text-center">{% trans "Payed" %}</th>
                    {# Translators: change for the ticket window cash payment process #}
                    <th class="text-center">{% trans "Change" %}</th>
                </tr>
                <tr>
                    <td><input type="text" name="price" id="total" class="outputbox text-primary" value="0" readonly tabindex="-1"/></td>
                    <td class="text-left">
                        <div class="radio">
                          <label>
                            <input type="radio" name="payment" value="cash" checked>
                            {% trans "cash" %}
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" name="payment" value="card">
                            {% trans "credit card" %}
                          </label>
                        </div>
                    </td>
                    <td> <input type="number" name="payed" class="form-control inputbox" id="payed"/> </td>
                    <td> <input type="text" id="change" name="change" class="outputbox text-success" value="0" readonly tabindex="-1"/> </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-2">
            <label id="print-format">{% trans "Print format" %}</label>
            <select id="print-format" name="print-format">
                {% for pf in print_formats %}
                    <option value="{{ pf }}" {% if pf == default_pf %} selected{% endif %}>{{ pf }}</option>
                {% endfor %}
            </select>
            <button type="button" id="finish" class="btn btn-success btn-block btn-lg" disabled
                data-cancel="{% trans "Cancel" %}"
                data-ok="{% trans "Accept" %}"
                data-msg="{% trans "ticket/s will be purchased, are you sure?" %}">
                {% trans "Finish" %}
            </button>
        </div>
    </div>
{% endblock %}

{% block total %}
{% endblock %}

{% block extrabody %}
    {{ block.super }}
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/window.js' %}"></script>
    <script>
        var windows = '{{ window.slug }}';
        var ev = '{{ window.event.slug }}';
        var window_name = '{{ window.slug }}';
    </script>
{% endblock %}
