.inputbox {
    border: 2px solid #888;
    padding: 10px;
    font-size: xx-large;
    font-weight: bold;
    height: auto;
    width: 120px;
    margin: 0 auto;
    text-align: center;
}

.outputbox {
    border: 2px solid #888;
    padding: 10px;
    font-size: xx-large;
    background-color: #eee;
    border-radius: 4px;
    font-weight: bold;
    width: 120px;
    margin: 0 auto;
    text-align: center;
}

form.btn-download {
    float: right;
}

.maintenance {
    min-height: 300px;
    margin: 80px;
    color: #888;
}

.maintenance h1 {
    font-size: 70px;
}

.maintenance .errorcode {
    font-size: 120px;
    text-align: center;
    font-family: "courier new";
}
