.layout {
    background-color: #ccc;
    text-align: center;
    cursor: pointer;
}

#display {
}

.scene {
    background-color: white;
    text-align: center;
    text-color: #eee;
    font-weight: bold;
    text-transform: uppercase;
}
