h1 {
    text-align: center;
    font-size: 90px;
}

html, body {
    padding:0;
    margin:0;
    height:100%;
    min-height:100%;
}

.w60 {
    width:60%;
    height:100%;
    float:left;
    text-align: center;
}

.w40 {
    width:40%;
    height:100%;
    float:left;
    text-align: center;
}

.contents {
    height:50%;
    width:100%;
}

video, img {
    max-width: 100%;
    max-height: auto;
    padding: 5px;
    text-align: center;
}

#floatdebug {
    position: absolute;
    top: 5px;
    right: 5px;
}

.big-number {
    font-size: 10em;
    text-align: center;
    border-radius: 5px;
    margin: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
    position: relative;
    transition: all 0.3s;
}

.big-number-text {
    font-size: 50px;
    margin-top: 20px;
}
.arrow {
    font-size: 125px;
}

.extra-text {
    font-size: 1.8em;
    text-align: center;
    border: black solid 2px;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}

.arrow-right:after {
  content: " ";
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid #337ab7;

  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -60px;
}

.arrow-left:after {
  content: " ";
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-right: 60px solid #337ab7;

  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -60px;
  margin-left: -60px;
}

.big-number.arrow-right {
  margin-right: 80px;
}

.big-number.arrow-left {
  margin-left: 80px;
}
