Django>=4.2,<4.3
PyPDF2==1.26.0
django-admin-list-filter-dropdown==1.0.1
django-crispy-forms==1.14.0
django-extended-filters==0.7
django-maintenancemode-2==2.0
django-tinymce==3.6.1
factory-boy
gTTS==2.0.1
numpy>=1.25,<1.26
paypalrestsdk==1.13.1
psycopg>=3.1,<3.2
pytz==2018.4
qrcode==7.4.2
stripe==1.82.1
weasyprint==59.0
websocket-client==0.48.0
websocket-server==0.4
pillow>=10.2.0 # not directly required, pinned by Snyk to avoid a vulnerability
