Django>=2.2,<2.3
PyPDF2==1.26.0
django-admin-csv==0.2
django-admin-list-filter-dropdown==1.0.1
django-autoslug-iplweb==1.9.4.dev0
django-crispy-forms==1.7.2
django-extended-filters==0.5.7
django-maintenancemode-2==1.1.11
django-tinymce==2.7.0
gTTS==2.0.1
numpy>=1.21.2,<1.22.0
paypalrestsdk==1.13.1
psycopg2-binary==2.8
pytz==2018.4
qrcode==7.3.1
reportlab>=3.5.0,<3.6.0
stripe==1.82.1
websocket-client==0.48.0
websocket-server==0.4
