{% load i18n %}
<div class="biglayout table-responsive {{ classes }}">
    <h2 class="layout-name">
        {{ layout.name }}
        <span class="glyphicon {{ layout.glyph }}" aria-hidden="true"></span>
    </h2>
    <table class="text-center layout-parent">
        {% if layout.direction == 'u' %}
        <tr> <td class="bigscene">{% trans "Scene" %}</td> </tr>
        {% endif %}
        <tr>
            {% if layout.direction == 'l' %}
            <td>
                <div class="bigscene vertical">
                {% trans "Scene" %}
                </div>
            </td>
            {% endif %}
            <td>

            <!-- layout -->
            <table class="seat-layout table notranslate">
                <!-- Generate html from frontend, better performance. -->
                {{ layout_table|safe }}
            </table>

            </td>
            {% if layout.direction == 'r' %}
            <td>
                <div class="bigscene vertical">
                {% trans "Scene" %}
                </div>
            </td>
            {% endif %}
        </tr>
        {% if layout.direction == 'd' %}
        <tr> <td class="bigscene">{% trans "Scene" %}</td> </tr>
        {% endif %}
    </table>
</div>

