{% load i18n %}
{% load tickets %}

<div class="map">
    <div id="maphelp">
        {% trans "To choose your seats:" %}<br/>
        {% trans "Step 1: Select the stand zone." %}<br/>
        {% trans "Step 2: Select the seats." %}<br/>
    </div>

    <table class="table-bordered table">
        {% for r in mtable %}
            <tr>
            {% for c in r %}
                {% if c == 'scene' %}
                    {% scene_span session map %}
                {% elif c %}
                    {% get_free_seats free_seats session.id c as free %}
                    <td class="layout layout-{{ session.id }}-{{ c.id }} l{{ free }}"
                    data-session="{{ session.id }}" data-id="{{ c.id }}"
                    data-name="{{ c.name }}" data-layout="{{ c.layout }}"
                    data-dir="{{ c.direction }}"
                    data-glyph="{{ c.glyph }}">

                        <div class="layout-zone-name">
                            {{ c }}
                        </div>
                        <div class="layout-zone-selection hidden-xs">
                            {% trans "Selected:" %}
                            <span id="badge-{{ session.id }}-{{ c.id }}" class="label label-default">0</span>
                        </div>
                        <div class="layout-zone-free hidden-xs">
                            {% trans "Free:" %} {{ free }}
                        </div>

                        <div class="visible-xs">
                            <span id="badge-{{ session.id }}-{{ c.id }}" class="label label-default">0</span> {{ free }}
                        </div>
                    </td>
                {% else %}
                    <td class="empty">{{ c }}</td>
                {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>

<div id="separator">
    <span class="legend seat-L"></span> {% trans "Available" %}
    <span class="legend seat-R"></span> {% trans "Reserved" %}
    <span class="legend seat-H"></span> {% trans "In reserve process" %}
    <span class="legend seat-selected"></span> {% trans "Selected" %}
</div>

{% for r in mtable %}
    {% for c in r %}
        {% if c and c != 'scene' %}
            <div class="display display-{{ session.id }}-{{ c.id }} ajax-layout"
                 data-url="{% url 'ajax_layout' session=session.id layout=c.id %}">
                <!-- loading layout using ajax to speed up -->
                <div class="text-center ajax-loading loading">
                    {% trans "Loading..." %}
                    <div class="loader-inner line-scale-pulse-out-rapid">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endfor %}
