{% load i18n %}
{% load tickets %}
<div class="map">
    <table class="table-bordered table">
        {% for r in map.get_table %}
            <tr>
            {% for c in r %}
                {% if c == 'scene' %}
                    {% scene_span session map %}
                {% elif c %}
                    <td class="layout layout-{{ session.id }}-{{ c.id }}"
                    data-session="{{ session.id }}" data-id="{{ c.id }}"
                    data-name="{{ c.name }}" data-layout="{{ c.layout }}"
                    data-dir="{{ c.direction }}"
                    data-glyph="{{ c.glyph }}">
                        <span id="badge-{{ session.id }}-{{ c.id }}" class="label label-default">0</span> {{ c }} / {{ c.free }}
                        <span class="glyphicon {{ c.glyph }}" aria-hidden="true"></span>
                    </td>
                {% else %}
                    <td class="empty">{{ c }}</td>
                {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>

{% for r in map.get_table %}
    {% for c in r %}
        {% if c and c != 'scene' %}
            <div class="display display-{{ session.id }}-{{ c.id }} ajax-layout"
                 data-url="{% url 'ajax_layout' session=session.id layout=c.id %}">
                <!-- loading layout using ajax to speed up -->
                <div class="text-center ajax-loading loading">
                    {% trans "Loading..." %}
                    <div class="loader-inner line-scale-pulse-out-rapid">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endfor %}
