{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load tickets %}

{% block title %}{{ ev }}{% endblock %}

{% block extrahead %}
    <style>
        .table > tbody > tr > th,
        .table > tbody > tr > td {
                 vertical-align: middle;
        }
        @-moz-document url-prefix() {
          fieldset { display: table-cell; }
        }
    </style>
    <link href="{% static "css/multipurchase.css" %}" rel="stylesheet"/>
    <link href="{% static "css/map.css" %}" rel="stylesheet"/>
    <link href="{% static "css/loaders.min.css" %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div class="page-header">
        {% block header %}
        <h1> {{ ev }} </h1>
        {% endblock %}
    </div>

    {% block info %}
    <p> {{ ev.info }} </p>
    {% endblock %}

    {% block form %}
    <form method="POST" action="" {% block extraform %}{% endblock %}>

    {% csrf_token %}
    <div class="row">
    {% for space in ev.spaces.all %}
        <div class="col-sm-6">
            <div class="panel panel-info">
                <div class="panel panel-heading">
                    {{ space.name }}
                </div>
                <div class="panel panel-body">
                    <table class="table table-striped">
                        {% for session in space.sessions.all %}
                            <tr>
                                <th width="100%">
                                    <span class="session-name">{{ session.name }}</span>
                                    <div class="text-muted text-date">{{ session.start|date:"d/m/Y" }}</div>
                                </th>
                                {% if session.space.numbered %}
                                <td>
                                    {% include "tickets/seat_select.html" %}
                                    <input id="seats-{{ session.id }}" class="hidden seats-input" data-session="{{ session.id }}" type="text" name="seats_{{ session.id }}"
                                       value="{% key request.POST session.id "seats_" %}"
                                    />
                                </td>
                                {% endif %}
                                <td class="sessioninput-td">
                                    <div class="sessioninput-group input-group">
                                        <input id="{{ session.id }}" class="sessioninput form-control"
                                            min='0' max='15' type="text"
                                            data-session="{{ session.id }}"
                                            data-price="{% if window %}{{ session.window_price }}{% else %}{{ session.price }}{% endif %}"
                                            {% if not session.space.numbered %}name="number_{{ session.id }}"{% endif %}
                                            value="{% key request.POST session.id "number_" "0" %}"
                                        />
                                        <span class="buttons input-group-btn">
                                            <button data-id="{{ session.id }}" class="plus btn btn-default" type="button">
                                                <span class="glyphicon glyphicon-plus" ahire-hidden="true"></span>
                                            </button>
                                            <button data-id="{{ session.id }}" class="minus btn btn-default" type="button">
                                                <span class="glyphicon glyphicon-minus" ahire-hidden="true"></span>
                                            </button>
                                        </span>
                                        <span class="ticket-price input-group-addon">
                                            {% if window %}{{ session.window_price }}{% else %}{{ session.price }}{% endif %}
                                            € <span class="hidden-xs">/ {% trans "ticket" %}</span>
                                        </span>
                                        {% if subsum %}
                                        <span class="input-group-addon">
                                            <span class="subtotal" id="{{ session.id }}-subtotal-price">0</span>
                                            €
                                        </span>
                                        {% endif %}
                                    </div>
                                </td>

                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

        {% block total %}
            <div class="totalinfo text-right">
                <h2>
                    {% trans "Total" %}
                    <span id="total" class="outputbox text-primary">0</span>
                    €
                </h2>
            </div>
            <br/>
        {% endblock %}

    {% endblock %}

    {% block personal_info %}
    <fieldset>
        <legend>{% trans "Personal info" %}</legend>
        <div class="reg-form bootstrap">
            {{ form|crispy }}
        </div>
    </fieldset>
    {% endblock %}

    {% block button %}
    <button class="btn btn-primary btn-block btn-lg">{% trans "Continue" %}</button>
    {% endblock %}

    </form>

    <div id="restrictions" class="hidden">
        {% for w in ev.warnings.all %}
            <div class="warning"
                data-name="{{ w.name }}"
                data-sessions1="{{ w.sessions1_ids }}"
                data-sessions2="{{ w.sessions2_ids }}"
                data-type="{{ w.type }}"
                data-message="{{ w.message }}"></div>
        {% endfor %}
    </div>
{% endblock %}

{% block extrabody %}
    <script src="{% static "js/map.js" %}"></script>

    <script src="{% static "js/websocket.js" %}"></script>
    <script src="{% static 'js/multipurchase.js' %}"></script>
    <script src="{% static "js/seat_select.js" %}"></script>

    <script>
        var client = '{{ client }}';
        try {
            ws.init("{{ ws_server }}");
        } catch (e) {
            console.log("NO WS");
        }
    </script>
{% endblock %}
