{% extends "base.html" %}
{% load i18n %}
{% load bootstrap %}
{% load staticfiles %}

{% block title %}{{ ev }}{% endblock %}

{% block extrahead %}
    <style>
        .table > tbody > tr > th,
        .table > tbody > tr > td {
                 vertical-align: middle;
        }
        @-moz-document url-prefix() {
          fieldset { display: table-cell; }
        }
    </style>
    <link href="{% static "css/map.css" %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1> {{ ev }} </h1>
    </div>

    <p> {{ ev.info }} </p>

    <form method="POST" action="">

    {% csrf_token %}
    <div class="row">
    {% for space in ev.spaces.all %}
        <div class="col-sm-6">
            <div class="panel panel-info">
                <div class="panel panel-heading">
                    {{ space.name }}
                </div>
                <div class="panel panel-body">
                    <table class="table table-striped">
                        {% for session in space.sessions.all %}
                            <tr>
                                <th width="30%">
                                    {{ session.name }}
                                </th>
                                <td class="hidden-xs">
                                    <span class="text-muted">{{ session.start|date:"d/m/Y" }}</span>
                                </td>
                                {% if session.space.numbered %}
                                <td>
                                    {% include "tickets/seat_select.html" %}
                                    <input id="seats-{{ session.id }}" class="hidden seats-input" data-session="{{ session.id }}" type="text" name="seats_{{ session.id }}" value=""/>
                                    {% for sr in session.seats_reserved %}
                                        <div class="hidden seat-reserved"
                                            data-session="{{ session.id }}"
                                            data-layout="{{ sr.seat_layout.id }}"
                                            data-seat="{{ sr.seat }}"></div>
                                    {% endfor %}
                                </td>
                                {% endif %}
                                <td>
                                    <div class="input-group">
                                        <input id="{{ session.id }}" class="sessioninput form-control" type="number"
                                            {% if not session.space.numbered %}name="number_{{ session.id }}"{% endif %}
                                            value="0"/>
                                        <span class="input-group-addon" id="basic-addon2">{{ session.price }} €</span>
                                    </div>
                                </td>

                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

    <fieldset>
        <legend>{% trans "Personal info" %}:</legend>
        <div class="reg-form">
            {{ form|bootstrap }}
        </div>
    </fieldset>

    <button class="btn btn-primary btn-block btn-lg">{% trans "Continue" %}</button>

    </form>

    <div id="restrictions" class="hidden">
        {% for w in ev.warnings.all %}
            <div class="warning"
                data-name="{{ w.name }}"
                data-sessions1="{{ w.sessions1_ids }}"
                data-sessions2="{{ w.sessions2_ids }}"
                data-type="{{ w.type }}"
                data-message="{{ w.message }}"></div>
        {% endfor %}
    </div>
{% endblock %}

{% block extrabody %}
    <script src="{% static "js/jquery-1.12.3.min.js" %}"></script>
    <script src="{% static "js/map.js" %}"></script>

    <script src="{% static 'js/multipurchase.js' %}"></script>
    <script src="{% static "js/websocket.js" %}"></script>

    <script>
        // websocket example
        function f(ev, msg) {
            if (ev == 'msg') {
                data = JSON.parse(msg.data);
                console.log(data);
            }
            if (ev == 'open') {
                ws.send("get_events");
            }
        }
        ws.cbs.add(f);
        try {
            ws.init("{{ ws_server }}");
        } catch (e) {
            console.log("NO WS");
        }
        //ws.cbs.remove(f);
    </script>
{% endblock %}
