{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Confirm" %}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            {% trans "Ticket payment" %}
            <small>{% trans "Verify the data and make the payment" %}</small>
        </h1>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <!-- TODO: Add the TPV form data -->
            <form method="POST" target="tpv" name="ticket" action="{{ tpv_url }}">
                <input type="hidden" name="Ds_SignatureVersion" value="HMAC_SHA256_V1"/>
                <input type="hidden" name="Ds_MerchantParameters" value="{{ params }}"/>
                <input type="hidden" name="Ds_Signature" value="{{ sig }}"/>

                <button class="btn btn-success btn-block">{% trans "make payment" %}</button>
            </form>

            <br/>

            {% include "tickets/ticket-info.html" %}
        </div>
    </div>
{% endblock %}
