{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Confirm" %}{% endblock %}

{% block extrahead %}
    <link href="{% static "css/payment.css" %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    {% if ticket.is_mp %}
        {% url 'multipurchase' ticket.event.slug as cancel_url %}
    {% else %}
        {% url 'register' ticket.event.slug ticket.space.slug ticket.session.slug as cancel_url %}
    {% endif %}


    <div class="page-header">
        <h1>
            {% trans "Ticket payment" %}
            <small>{% trans "Verify the data and make the payment" %}</small>
        </h1>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {% if errormsg %}
                    <p class="text-center"><strong>Error {{ errormsg }}</strong></p>
                    {% endif %}
                    <p>
                    {% blocktrans with admin=ticket.event.admin %}There was an error in the payment. Try again and if the problem continue, contact with the admin: {{ admin }}{% endblocktrans %}
                    </p>
                </div>

                <a href="{{ cancel_url }}" class="btn btn-lg btn-success btn-block">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                    {% trans "Go to purchase" %}
                </a>
            {% else %}
                <div id="choose" class="btn btn-lg btn-primary btn-block">
                    <span id="timer-confirm" class="pull-right">xx:xx</span>
                    <span class="pull-left">{% trans "Choose your payment method" %}</span>
                    <div class="clearfix"></div>
                </div>

                <div id="payment-methods">

                    {% if redsys %}
                    <form id="go-pay" method="POST" action="{{ tpv_url }}">
                        <button id="make-payment" class="btn btn-lg btn-warning btn-block">
                            {% trans "Credit Card payment" %}
                        </button>
                        {% block tpv_help_text %}
                            <div class="text-muted text-center">
                                {% trans '"Make payment" will redirect to' %} {{ tpv_url }}
                            </div>
                        {% endblock %}

                        <input type="hidden" name="Ds_SignatureVersion" value="HMAC_SHA256_V1"/>
                        <input type="hidden" name="Ds_MerchantParameters" value="{{ mdata }}"/>
                        <input type="hidden" name="Ds_Signature" value="{{ sig }}"/>
                    </form>
                    {% endif %}

                    {% if paypal %}
                        <div id="paypal-button"></div>
                        {% block paypal_help_text %}{% endblock %}
                    {% endif %}

                    {% if stripe %}
                        <form action="{% url 'confirm_stripe' ticket.order %}" method="POST">
                            {% csrf_token %}
                          <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="{{ stripe.pk }}"
                            data-amount="{{ stripe.amount }}"
                            data-name="{{ stripe.name }}"
                            data-description="{{ stripe.desc }}"
                            data-image="{{ stripe.image }}"
                            data-locale="auto"
                            data-email="{{ ticket.email }}"
                            data-allow-remember-me=false
                            data-label="{% trans "Pay with credit card (using stripe)" %}"
                            {% if stripe.bitcoin %} data-bitcoin=true {% endif %}
                            data-currency="eur">
                          </script>
                        </form>
                        {% block stripe_help_text %}{% endblock %}
                    {% endif %}

                    <div id="payment_help" class="text-muted text-center">
                        {% block payment_help_text %}
                        {% trans '"Make payment" will redirect to' %} {{ tpv_url }}
                        {% endblock %}
                    </div>

                </div>
            {% endif %}

            <br/>

            {% include "tickets/ticket-info.html" %}

            <a href="{{ cancel_url }}" class="btn btn-lg btn-warning btn-block">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                {% trans "Cancel payment" %}
            </a>
        </div>
    </div>
{% endblock %}

{% block extrabody %}
    <script src="{% static "js/timer.js" %}"></script>
    <script>
        var EXPIRED_TIME = '{{ expired_time }}';
        var obj = $('#timer-confirm');
        var btn = $('#make-payment');
        timerIn(EXPIRED_TIME, obj, btn);

        $("#make-payment").click(function() {
            var order = '{{ ticket.order }}';
            $.ajax({
                type: "POST",
                data: {},
                dataType: 'JSON',
                url: "/ticket/" + order + "/payment/",
                success: function(msg) {
                    $("#go-pay").submit();
                }
            });
            return false;
        });
    </script>

    {% if paypal %}
        <script src="https://www.paypalobjects.com/api/checkout.js"></script>
        <script>
            paypal.Button.render({
                {% if paypal.sandbox %}
                    env: 'sandbox',
                    client: { sandbox: '{{paypal.clientid}}' },
                {% else %}
                    env: 'production',
                    client: { production: '{{paypal.clientid}}' },
                {% endif %}

                commit: true,

                style: {
                    shape: 'rect',
                    size: 'responsive',
                    label: 'pay',
                },

                payment: function(data, actions) {
                    return actions.payment.create({
                        payment: {
                            transactions: [
                                {
                                    amount: { total: '{{ paypal.amount }}', currency: 'EUR' },
                                    invoice_number: '{{ ticket.order_tpv }}'
                                }
                            ]
                        }
                    });
                },

                onAuthorize: function(data, actions) {
                    return actions.payment.execute().then(function(payment) {
                        var data = { payment_id: payment.id };
                        paypal.request.post('{% url 'confirm_paypal' %}', data)
                            .then(function(r) {
                                if (r.status == 'ok') {
                                    window.location = '{% url 'thanks' ticket.order %}';
                                } else {
                                    window.alert('{% trans "Paypal payment error, please, contact with the admin" %}');
                                }
                            });
                    });
               }
            }, '#paypal-button');
        </script>
    {% endif %}

    {% if stripe %}
        <script>
        $(document).ready(function() {
            $(".stripe-button-el")
                .addClass("btn btn-warning btn-block btn-lg")
                .removeClass("stripe-button-el");
        });
        </script>
    {% endif %}
{% endblock %}
