{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Confirm" %}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            {% trans "Ticket payment" %}
            <small>{% trans "Verify the data and make the payment" %}</small>
        </h1>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {% blocktrans with admin=ticket.event.admin %}There was an error in the payment. Try again and if the problem continue, contact with the admin: {{ admin }}{% endblocktrans %}
                </div>
            {% endif %}

            <button id="make-payment" class="btn btn-lg btn-warning btn-block">
                <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
                {% trans "Make payment" %}
                <span id="timer-confirm" class="pull-right">xx:xx</span>
            </button>
            <div class="text-muted text-center">
                {% block payment_help_text %}
                {% trans '"Make payment" will redirect to' %} {{ tpv_url }}
                {% endblock %}
            </div>

            <form id="go-pay" method="POST" action="{{ tpv_url }}">
                <input type="hidden" name="Ds_SignatureVersion" value="HMAC_SHA256_V1"/>
                <input type="hidden" name="Ds_MerchantParameters" value="{{ mdata }}"/>
                <input type="hidden" name="Ds_Signature" value="{{ sig }}"/>
            </form>

            <br/>

            {% include "tickets/ticket-info.html" %}
            {% if ticket.is_mp %}
                <a href="{% url 'multipurchase' ticket.event.slug %}" class="btn btn-lg btn-warning btn-block">
            {% else %}
                <a href="{% url 'register' ticket.event.slug ticket.space.slug ticket.session.slug %}" class="btn btn-lg btn-warning btn-block">
            {% endif %}

                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                {% trans "Cancel payment" %}
            </a>
        </div>
    </div>
{% endblock %}

{% block extrabody %}
    <script src="{% static "js/timer.js" %}"></script>
    <script>
        var EXPIRED_TIME = '{{ expired_time }}';
        var obj = $('#timer-confirm');
        var btn = $('#make-payment');
        timerIn(EXPIRED_TIME, obj, btn);

        $("#make-payment").click(function() {
            var order = '{{ ticket.order }}';
            $.ajax({
                type: "POST",
                data: {},
                dataType: 'JSON',
                url: "/ticket/" + order + "/payment/",
                success: function(msg) {
                    $("#go-pay").submit();
                }
            });
        });
    </script>
{% endblock %}
