{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{{ map }}{% endblock %}

{% block body %}
    {% block head %}{% endblock %}

    {% block translation %}{% endblock %}

    <div class="{% block container %}container{% endblock %} content {% block extraclasses %}{% endblock %}">

        {% block messages %}{{ block.super }}{% endblock %}

        {% block content %}
            <div class="page-header">
                <h1> {{ map }} </h1>
            </div>

            <div id="sample-map" class="map">
                {% include "tickets/map.html" %}
            </div>
        {% endblock %}

    </div>

    {% block foot %}{% endblock %}
{% endblock %}

{% block extrahead %}
    <link href="{% static "css/map.css" %}" rel="stylesheet"/>
    <link href="{% static "css/loaders.min.css" %}" rel="stylesheet"/>
{% endblock %}

{% block extrabody %}
    <script src="{% static "js/map.js" %}"></script>

    <script>
        SeatMap.bindLayout($("#sample-map"));

        {% if q %}
        SeatMap.showLayoutById(1);
        {% endif %}
    </script>
{% endblock %}
