{% load i18n %}

<table class="table table-striped table-bordered" role="table">
    <tr>
        <th class="bg-info">
            {% trans "ticket" %}: {{ ticket.order }}
        </th>
    </tr>
    <tr>
        <td>
            <span>{{ ticket.space.name }} - {{ ticket.session.name }}</span>
            {% if ticket.space.numbered %}
             || 
            <span>
                {% blocktrans with layout=ticket.seat_layout row=ticket.seat_row column=ticket.seat_column %}
                    Section: {{ layout }}, Row: {{ row }}, Seat: {{ column }}
                {% endblocktrans %}
            </span>
            <span class="right"> {{ ticket.get_price|floatformat:2 }} €</span>
            {% endif %}
        </td>
    </tr>
</table>

{% if ticket.confirmed %}
<form id="download-{{ ticket.order }}" method="post" action="{% url 'thanks' ticket.order %}">
    {% csrf_token %}
    <input type="hidden" name="ticket" value="{{ ticket.order }}"/>
    <button class="btn btn-lg btn-block btn-warning">
        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
        {% trans "DOWNLOAD TICKET" %}
    </button>
</form>
<hr/>
{% endif %}
