{% extends "base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form role="form" action="" method="post" enctype="multipart/form-data">
                <legend>{{ ev }}</legend>
                {% csrf_token %}
                {{ form|bootstrap }}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">{% trans 'Register' %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
