{% extends "base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block content %}
    <div class="page-header">
        <h1>
            {{ session.name }}
            <small>{{ session.space }}</small>
        </h1>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <p class="well">
                {% trans "Price:" %} {{ session.price }}
            </p>

            {% if not session.have_places %}
                <div class="alert alert-danger" role="alert">
                    {% trans "Sorry, there's no more places for this event" %}
                </div>
            {% else %}
                <form role="form" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">{% trans 'Confirm' %}</button>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
