<div class="page">
  {% if template.header %}
    <div class="header">
      <img src={{ template.header.url }} />
    </div>
  {% endif %}

  {% if template.sponsors %}
    <div class="sponsors">
      <img src={{ template.sponsors.url }} />
    </div>
  {% endif %}

  <div class="note">
    {{ template.previous_note }}
  </div>

  <div class="total_price">
    {{ ticket.total_price|safe }}
  </div>

  <div class="codeimg">
    <img src="data:image/png;base64,{{ ticket.gen_qr }}" />
  </div>

  <div class="order">
    {{ ticket.order }}
  </div>

  <div class="wcode">
    {{ ticket.wcode }}
  </div>

  <div class="initials">
    {{ ticket.initials }}
  </div>

  <div class="text">
    {{ ticket.text }}
  </div>

  <div class="date">
    {{ ticket.date }}
  </div>

  <div class="seatinfo">
    {{ ticket.seatinfo }}
  </div>

  <div class="next_note">
    {{ ticket.next_note }}
  </div>

  {% if template.footer %}
    <div class="footer">
      <img src={{ template.footer.url }} />
    </div>
  {% endif %}
</div>
