{% load i18n %}

<table class="table table-striped table-bordered" role="table">
    <tr>
        <th class="bg-info" colspan="2">{% trans "ticket" %}: {{ ticket.order }}</th>
    </tr>
    <tr>
        <th>{% trans "Space" %}</th>
        <td>{{ ticket.space.name }}</td>
    </tr>
    <tr>
        <th>{% trans "Session" %}</th>
        <td>{{ ticket.session.name }}</td>
    </tr>
    {% if ticket.space.numbered %}
    <tr>
        <th>{% trans "Seat" %}</th>
        <td>
        {% blocktrans with layout=ticket.seat_layout row=ticket.seat_row column=ticket.seat_column %}
            Section: {{ layout }}, Row: {{ row }}, Seat: {{ column }}
        {% endblocktrans %}
        </td>
    </tr>
    {% endif %}
    <tr>
        <th>{% trans "Ticket price" %}</th>
        <td>{{ ticket.get_price|floatformat:2 }} €</td>
    </tr>
</table>

{% if ticket.confirmed %}
<form id="download-{{ ticket.order }}" method="post" action="{% url 'thanks' ticket.order %}">
    {% csrf_token %}
    <input type="hidden" name="ticket" value="{{ ticket.order }}"/>
    <button class="btn btn-lg btn-block btn-warning">
        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
        {% trans "DOWNLOAD TICKET" %}
    </button>
</form>
<hr/>
{% endif %}
