{% load i18n %}

<table class="table table-striped table-bordered" role="table">
    <tr>
        <th class="bg-info" colspan="2">
            {% block payment_ticket_info_header %}
            {% trans "Ticket info" %}
            <span class="font-large right"> {{ ticket.get_price|floatformat:2 }} €</span>
            {% endblock %}
        </th>
    </tr>
    <tr>
        <th>{% trans "Event" %}</th>
        <td>{{ ticket.event }}</td>
    </tr>
    <tr>
        <th>{% trans "Payment number" %}</th>
        <td>{{ ticket.order_tpv }}</td>
    </tr>

    {% if ticket.confirmed %}
    <tr>
        <td colspan="2">
            <form id="download-{{ ticket.order }}" method="post" action="{% url 'thanks' ticket.order %}">
                {% csrf_token %}
                <input type="hidden" name="ticket" value="{{ ticket.order }}"/>
                <button class="btn btn-lg btn-block btn-warning">
                    <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                    {% block payment_download_all_text %}
                    {% trans "DOWNLOAD ALL TICKETS" %}
                    {% endblock %}
                </button>
                {% block payment_download_extra_text %}
                {% endblock %}
            </form>
        </td>
    </tr>
    {% endif %}

    <tr>
        <th class="bg-info" colspan="2">{% trans "Personal info" %}</th>
    </tr>
    <tr>
        <th>
            {% block payment_email_text %}
            {% trans "Email" %}
            {% endblock %}
        </th>
        <td>{{ ticket.email }}</td>
    </tr>
    <!-- todo add custom fields -->
    {% for d in ticket.get_extras %}
    <tr>
        <th>{{ d.field.label }}</th>
        {% if d.field.type == 'check' %}
            <td>{{ d.value|yesno }}</td>
        {% else %}
            <td>{{ d.value }}</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

<table class="table table-striped table-bordered" role="table">
    <tr>
        <th class="bg-info" colspan="2">
            {% block payment_tickets_text %}
            {% trans "Tickets" %}
            {% endblock %}
            <span class="font-large right"> {{ ticket.get_price|floatformat:2 }} €</span>
        </th>
    </tr>
    {% if ticket.is_mp %}
        {% for t in ticket.all_tickets %}
            {% include "tickets/ticket-detail.html" with ticket=t %}
        {% endfor %}
    {% else %}
        {% include "tickets/ticket-detail.html" %}
    {% endif %}
</table>

<div class="pull-right text-muted small">
    {% trans "Using this button you can download/print individual tickets" %}
    <button class="btn btn-warning btn-sm">
        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
    </button>
</div>
