{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ ev }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            {{ ev }} <small>{% trans "Invitation and passes generator" %}</small>
        </h1>
    </div>

    <form id="form-gen" class="form" method="POST" action="">
        {% csrf_token %}

        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-info">
                    <div class="panel-heading"> {% trans "Invitations" %} </div>
                    <div class="panel-body">
                        {% include "invs/invs_table.html" with invs=invs %}
                    </div>
                </div>
                <input type="text" id="seats" name="seats" class="form-control"
                        placeholder="{% trans "Show Thursday seats" %}. Example: C1[1-1,1-3]; C2[2-1:2-4]" />
                <span id="span-seats"></span>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-info">
                    <div class="panel-heading"> {% trans "Passes" %} </div>
                    <div class="panel-body">
                        {% include "invs/invs_table.html" with invs=passes %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row window-foot">
            <div class="col-sm-2">
                <!-- TODO, add discounts here -->
                <label>{% trans "Discount:" %}</label>
                <td class="text-left">
                    <div class="radio">
                      <label>
                        <input type="radio" name="discount" value="none" checked>
                        {% trans "None" %}
                      </label>
                    </div>
                {% for discount in discounts %}
                    <div class="radio">
                      <label>
                        <input type="radio" name="discount" value={{ discount.id }}>
                        {{ discount }}
                      </label>
                    </div>
                {% endfor %}
                <button id="clean" class="btn btn-danger btn-block btn-lg"> {% trans "Clean" %} </button>
            </div>
            <div class="col-sm-8">
                <table class="table table-bordered text-center">
                    <tr>
                        <th class="text-center">{% trans "Price" %}</th>
                        <th class="text-center">{% trans "Comment" %}</th>
                    </tr>
                    <tr>
                        <td> <input type="number" name="price" class="form-control inputbox" id="price" value="0"/> </td>
                        <td> <input type="text" id="comment" name="comment" class="form-control"/> </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-2">
                <label id="print-format">{% trans "Print format" %}</label>
                <select id="print-format" name="print-format">
                    {% for pf in print_formats %}
                        <option value="{{ pf }}" {% if pf == default_pf %} selected{% endif %}>{{ pf }}</option>
                    {% endfor %}
                </select>
                <button id="finish" class="btn btn-success btn-block btn-lg">
                    {% trans "Finish" %}
                </button>
            </div>
        </div>
    </form>
{% endblock %}

{% block extrabody %}
    <script>
        $(document).ready(function() {
            $("#clean").click(function() {
                $(".invinput").val("0");
                $("#price").val("0");
                $("#comment").val("");
                return false;
            });

            $(".plus").click(function() {
                var id = '#' + $(this).data("id");
                var max = parseInt($(id).attr('max'), 10);
                var current = parseInt($(id).val(), 10);

                var next = current + 1;
                if (next > max) {
                    next = max;
                }
                $(id).val(next);
                $(id).change();
            });
            $(".minus").click(function() {
                var id = '#' + $(this).data("id");
                var min = parseInt($(id).attr('min') || 0, 10);
                var current = parseInt($(id).val(), 10);

                var next = current - 1;
                if (next < min) {
                    next = min;
                }
                $(id).val(next);
                $(id).change();
            });

            show_thu = 3;
            var total_seats = 0;
            show_thursday = $("#" + show_thu);
            input_seat = $("#seats");
            input_seat.hide();

            function check_validity() {
                if (show_thursday.val() != total_seats) {
                    $("#finish").attr("disabled", true);
                } else {
                    $("#finish").attr("disabled", false);
                }
            }

            show_thursday.on('keyup change', function() {
                if (show_thursday.val() > 0) {
                    input_seat.show();
                    check_validity(total_seats);
                } else {
                    input_seat.hide();
                    input_seat.val("");
                    $("#finish").attr("disabled", false);
                }
            });

            input_seat.keyup(function() {
                value = input_seat.val();
                $.ajax({
                    type: "POST",
                    data: {'invi_type': show_thu, 'string': value},
                    dataType: 'JSON',
                    url: "/seats/bystr/",
                    success: function(msg) {
                        if (msg.error) {
                            m = msg.error;
                            total_seats = 0;
                            check_validity();
                        } else {
                            m = "Total:" + msg.total + "-->" + msg.values;
                            total_seats = msg.total;
                            check_validity();
                        }
                        $("#span-seats").text(m);
                    }
                });
            });

        });
    </script>
{% endblock %}
