#alertify {
    top: 50%;
}

#floating-log {
    position: fixed;
    z-index: 1000;
    left: 45%;
    top: 2px;
    background: lightblue;
    height: auto;
    border: none;
    border-radius: 5px;
    font-size: medium;
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
    cursor: pointer;
}

#floating-singlerow {
    display: inline-block;
    top: 2px;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
    font-size: medium;
    text-align: center;
    color: white;
    cursor: pointer;
    padding: 3px;
}

.floating-footer {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.window-debug {
    margin-right: 5px;
    border: green solid 2px;
    padding: 2px;
}

.bg-close {
    background: darkred;
}

.bg-open {
    background: #5cb85c;
}

#extra-field {
    margin-bottom: 10px;
}
