{% extends "admin/index.html" %}
{% load i18n %}

{% block content %}
  {% if not app_label %}
  <div class="module">
    <table>
      <caption>{% trans "Events admin" %}</caption>
      <tr class="">
          <th scope="row"><a href="/admin/all/">{% trans "All" %}</a></th>

          <td>&nbsp;</td>
          <td>&nbsp;</td>
      </tr>
      {% for site in SITES %}
      <tr class="">
          <th scope="row"><a href="/admin/{{site.name}}/">{{site.ev.name}}</a></th>

          <td>&nbsp;</td>
          <td>&nbsp;</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}

  {{block.super}}
{% endblock %}
