.sessioninput-group {
    width: 1px;
    margin: 0 auto;
}

.sessioninput {
    text-align: center;
    width: 50px !important;
}

.session-row {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.session-row.odd {
    background-color: #fafafa;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
