.sessioninput-group {
    width: 1px;
    margin: 0 auto;
}

.sessioninput {
    text-align: center;
    width: 50px !important;
}

.session-row {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.session-row.odd {
    background-color: #fafafa;
}
