.sessioninput-group {
    float: right;
}

.sessioninput {
    text-align: center;
    min-width: 50px !important;
}

.session-row {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.session-row.odd {
    background-color: #fafafa;
}
