body {
    background: #aaa;
}

.wrong .content,
body.wrong {
    background: #ff0000;
}

.right .content,
body.right {
    background: #00ff00;
}

.maybe .content,
body.maybe {
    background: #0000ff;
}

.incorrect .content,
body.incorrect {
    background: #ff4444;
}

#extra {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

#extra2 {
    text-align: center;
    font-size: 40px;
    font-weight: normal;
}

.extrainfo {
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    border: 2px solid #888;
    border-radius: 3px;
    background-color: #efefef;
    color: #555;
}

.maybe #extra2,
.maybe #extra {
    color: white;
}

#qr-video {
    width: 90%;
    margin: 0 auto;
}

#qr-canvas {
    display: none;
}
