body {
    background: #aaa;
}

.wrong .content,
body.wrong {
    background: #ff0000;
}

.right .content,
body.right {
    background: #00ff00;
}

.maybe .content,
body.maybe {
    background: #0000ff;
}

#extra {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

.maybe #extra {
    color: white;
}

#qr-video {
    width: 90%;
    margin: 0 auto;
}

#qr-canvas {
    display: none;
}
