{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block extraclasses %}access{% endblock %}

{% block extrahead %}
    <link href="{% static "css/access.css" %}?v=4.0" rel="stylesheet">
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1> {{ ac.name }} /
        <small class="text-danger">{{ request.user.username }}</small> /
        {% if gate %}
        <small> {% trans "Gate" %}: {{ gate }} </small> /
        {% endif %}
        <small> {{ session }} </small>
        <small class="text-info pull-right">
            <a href="{% url 'access_logout' ac.event.slug ac.slug %}">
            {% trans "logout" %}
            </a>
        </small>
        </h1>
    </div>

    <form id="access" action="{% url 'access' ac.event.slug ac.slug %}" data-session="{{ session.id }}">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" id="order" placeholder="{% trans "ticket order" %}" value="" autofocus/>
            <span class="input-group-btn">
                <input type="submit" class="btn btn-primary" id="ordergo" type="button" value="Go!"/>
            </span>
        </div>
    </form>

    <p id="extra"> </p>

    <div id="reader"></div>
{% endblock %}

{% block foot %}
{% endblock %}

{% block extrabody %}
    <!-- feedback audios -->
    <audio id="audio-right" src="{% static "audio/right.mp3" %}" class="hidden"> </audio>
    <audio id="audio-wrong" src="{% static "audio/wrong.mp3" %}" class="hidden"> </audio>
    <audio id="audio-maybe" src="{% static "audio/maybe.mp3" %}" class="hidden"> </audio>

    <script src="{% static "js/moment.min.js" %}"></script>
    <script src="{% static "js/websocket.js" %}"></script>
    <script src="{% static "js/adapter-latest.js" %}"></script>
    <script src="{% static "js/jsqrcode-combined.min.js" %}"></script>
    <script src="{% static "js/html5-qrcode.js" %}?v=9.0"></script>
    <script src="{% static "js/access.js" %}?v=7.0"></script>

    <script>
        var ac = "{{ac}}";
        try {
            ws.init("{{ ws_server }}");
        } catch (e) {
            console.log("NO WS");
        }
    </script>
{% endblock %}
