{% extends "base-admin.html" %}
{% load i18n %}
{% load static %}

{% block extrahead %}
    <link href="{% static "css/login.css" %}" rel="stylesheet">
{% endblock %}

{% block title %} {{ ac.name }} {% endblock %}

{% block content %}
<div class="page-header">
    {% block pretitle %}
    <h1 class="inline"> {{ ac.name }} <small>{{ ac.event.name }}</small> </h1>
    {% endblock %}
</div>

<form class="form-signin" method="POST">
    {% csrf_token %}
    <h2 class="form-signin-heading">{% trans "Please sign in" %}</h2>

    <label for="username" class="sr-only">{% trans "username" %}</label>
    <input type="text" name="username" id="username" class="form-control" placeholder="{% trans "username" %}" required autofocus>

    <label for="inputPassword" class="sr-only">{% trans "password" %}</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="{% trans "password" %}" required>

    <label for="inputSession" class="sr-only">{% trans "session" %}</label>
    <select name="session" class="form-control" id="inputSession">
        {% for s in sessions %}
            <option value="{{ s.id }}">{{ s.space.name }} / {{ s.name }}</option>
        {% endfor %}
    </select>

    <label for="inputGate" class="sr-only">{% trans "gate" %}</label>
    <select name="gate" class="form-control" id="inputGate">
        <option value="">{% trans "None" %}</option>
        {% for g in gates %}
            <option value="{{ g.id }}">{{ g.name }}</option>
        {% endfor %}
    </select>

    <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "sign in" %}</button>
</form>
{% endblock %}
