{% extends "base-admin.html" %}
{% load i18n %}
{% load static %}
{% load dashboard %}

{% block extrahead %}
    <link href="{% static "css/report.css" %}?v=4.0" rel="stylesheet">
    <link href="{% static "datepicker/css/datepicker.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap-toggle-master/css/bootstrap-toggle.min.css" %}" rel="stylesheet">
{% endblock %}

{% block extrabody %}
    <script src="{% static "datepicker/js/bootstrap-datepicker.js" %}"></script>
    <script src="{% static "bootstrap-toggle-master/js/bootstrap-toggle.min.js" %}"></script>
    <script>
        $('.datepicker').datepicker();
        $(document).ready(function() {
            $("#allsessions").click(function() {
                $('.sessioncheck').bootstrapToggle('on');
                return false;
            });
            $("#allwindows").click(function() {
                $('.wcheck').bootstrapToggle('on');
                return false;
            });
        });
    </script>
{% endblock %}

{% block title %} {% trans "Count Report" %} {% endblock %}

{% block content %}
    <h1>{% trans "Count Report" %}</h1>

    {% if query %}

        <h3>{% trans "sessions" %}</h3>
        {% include "dashboard/report_table2.html" with spaces=spaces sessions_grouped=sessions_grouped sessions=sessions windows=selected_windows days=selected_days %}

        <hr/>

        {% if selected_windows|length == 1 %}
        <h3>{% trans "Window Count" %}</h3>
        <table class="table table-bordered">
            <tr class="bg-success">
                {% db_window_total ev windows=selected_windows sessions=selected_sessions days=selected_days as total %}
                <th>{% trans "Total amount, (cash + credit card)" %}</th>
                <td>{{ total|floatformat:2 }}</td>
            </tr>
            <tr>
                <th colspan="2" class="text-center bg-primary">{% trans "Cash balance" %}</th>
            </tr>
            {% db_window_movements selected_windows.0 days=count_days as movements %}
            {% for mov in movements %}
            <tr {% if mov.type == 'change' %}class="bg-danger"{% endif %} >
                <th>{{ mov.get_type_display }}</th>
                <td>{% if mov.type == 'change' %}-{% else %}+{% endif %}{{ mov.amount|floatformat:2 }}</td>
            </tr>
            {% endfor %}
            <tr class="bg-success">
                {% db_window_movements_total movements as mtotal %}
                <th>{% trans "total" %}</th>
                <td>{{ mtotal|floatformat:2 }}</td>
            </tr>
            <tr>
                <th colspan="2" class="text-center bg-primary">{% trans "Window total balance" %}</th>
            </tr>
            <tr>
                {% db_window_count_total total mtotal as count_total %}
                <th>{% trans "total" %}</th>
                <th>{{ count_total|floatformat:2 }}</th>
            </tr>
        </table>
        {% endif %}

    {% endif %}
    <hr/>

    <form method="GET" action="">
        <div class="row">
            <div class="col-md-6 text-center">
                <h3>
                    {% trans "Sessions" %}
                    <button class="btn btn-primary" id="allsessions">{% trans "All" %}</button>
                </h3>
                <div class="panel panel-primary">
                    <div class="panel-heading">{% trans "days" %}</div>
                    <div class="panel-body toggle-inputs">
                        {% for d, s in session_days %}
                            {% with d|date:"l" as day %}
                            <input data-toggle="toggle"
                                   data-off="{{ day }}"
                                   data-on="<span class='glyphicon glyphicon-ok'></span> {{ day }}"
                                   type="checkbox" name="scheck"
                                   {% if d in selected_days %}checked{% endif %}
                                   class="sessioncheck" value="{{ d|date:"Y-m-d" }}"/>
                            {% endwith %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <h3>
                    {% trans "Windows" %}
                    <button class="btn btn-primary" id="allwindows">{% trans "All" %}</button>
                </h3>
                <div class="toggle-inputs">
                    {% for window in windows %}
                        <input data-toggle="toggle"
                               data-off="{{ window.name }}"
                               data-on="<span class='glyphicon glyphicon-ok'></span> {{ window.name }}"
                               {% if window in selected_windows %}checked{% endif %}
                               type="checkbox" name="wcheck" class="wcheck" value="{{ window.pk }}"/>
                    {% endfor %}
                </div>
            </div>
        </div>
        <button class="btn btn-success btn-block" name="query" value="on">{% trans "Count" %}</button>
    </form>

{% endblock %}
