{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block extraclasses %}access{% endblock %}

{% block extrahead %}
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div id="charts">
</div>

<!--div class="row">
    <div class="col-md-8">
        <canvas id="chart-sales-online" width="200" height="200"></canvas>
    </div>
    <div class="col-md-4">
        <canvas id="chart-pie-sales-online" width="200" height="200"></canvas>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <canvas id="chart-sales" width="200" height="200"></canvas>
    </div>
    <div class="col-md-6">
        <canvas id="chart-access" width="200" height="200"></canvas>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <canvas id="chart-pie-sales" width="200" height="200"></canvas>
    </div>
    <div class="col-md-6">
        <canvas id="chart-pie-access" width="200" height="200"></canvas>
    </div>
</div-->
{% endblock %}

{% block foot %}
{% endblock %}

{% block extrabody %}
    <script src="{% static "js/websocket.js" %}"></script>
    <script src="{% static "js/Chart.bundle.min.js" %}"></script>
    <script src="{% static "js/Chart.min.js" %}"></script>
    <script>
        var ev = "{{ ev }}";
        var dash = "{{ dash }}";
    </script>
    <script src="{% static "js/general.js" %}"></script>
    <script>
        try {
            ws.init("{{ ws_server }}");
        } catch (e) {
            console.log("NO WS");
        }
    </script>
{% endblock %}
