{% extends "base-admin.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{{ ev }}{% endblock %}

{% block container %}
container-fluid
{% endblock %}

{% block extraclasses %}access{% endblock %}

{% block extrahead %}
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div id="charts">
</div>
{% endblock %}

{% block foot %}
{% endblock %}

{% block extrabody %}
    <script src="{% static "js/websocket.js" %}"></script>
    <script src="{% static "js/Chart.bundle.min.js" %}"></script>
    <script src="{% static "js/Chart.min.js" %}"></script>
    <script>
        var ev = "{{ ev }}";
        var dash = "{{ dash }}";
    </script>
    <script src="{% static "js/general.js" %}"></script>
    <script>
        var num_cols = {{num_cols}};
        try {
            ws.init("{{ ws_server }}");
        } catch (e) {
            console.log("NO WS");
        }
    </script>
{% endblock %}
