{% extends "base-admin.html" %}
{% load i18n %}
{% load static %}

{% block title %} {% trans "Reports" %} {% endblock %}

{% block content %}
    <h1>{% trans "Reports" %}</h1>
    <div class="list-group">
        <a class="list-group-item" href="{% url 'general_report' ev.slug %}">{% trans "General report" %}</a>
        <a class="list-group-item" href="{% url 'window_report' ev.slug %}">{% trans "Window report" %}</a>
        <a class="list-group-item" href="{% url 'online_report' ev.slug %}">{% trans "Online report" %}</a>
        <a class="list-group-item" href="{% url 'count_report' ev.slug %}">{% trans "Count report" %}</a>
    </div>
{% endblock %}

