<h2>{{ report_type }}</h2>

{% if general_table and specific_tables %}
    <table class="table-bordered">
        <caption>General</caption>
        {% for row in general_table %}
            <tr>
            {% for col in row %}
                {% if forloop.first or forloop.parentloop.first %}<th>{% else %}<td>{% endif %}
                    {{ col }}
                {% if forloop.first or forloop.parentloop.first %}</th>{% else %}</td>{% endif %}
            {% endfor %}
            </tr>
            {% endfor %}
        </tr>
    </table>

    <hr>

    {% for spec in specific_tables %}
        <table class="table-bordered">
            <caption>{{ spec.title }}</caption>
            {% for row in spec.datas %}
                <tr>
                {% for col in row %}
                    {% if forloop.parentloop.first %}
                        <th>
                    {% elif forloop.first %}
                        {% if forloop.parentloop.counter|divisibleby:"2" %}
                            <th rowspan="2">
                        {% else %}
                            <td>
                        {% endif %}
                    {% else %}
                        <td>
                    {% endif %}
                        {{ col }}
                    {% if forloop.first or forloop.parentloop.first %}
                        </th>
                    {% else %}
                        </td>
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
            </tr>
        </table>
    {% endfor %}

{% elif arqueo_table %}
    <table class="table-bordered">
        <caption>Arqueo</caption>
        {% for row in arqueo_table %}
            <tr>
            {% for col in row %}
                {% if forloop.parentloop.first %}
                    <th>
                {% elif forloop.first %}
                    {% if forloop.parentloop.counter|divisibleby:"2" %}
                        <th rowspan="2">
                    {% else %}
                        <td>
                    {% endif %}
                {% else %}
                    <td>
                {% endif %}
                    {{ col }}
                {% if forloop.first or forloop.parentloop.first %}
                    </th>
                {% else %}
                    </td>
                {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}
        </tr>
    </table>
{% else %}
    ...
{% endif %}
