table {
    width: 100%;
}

.center-block {
    padding-left: 10%;
    padding-right: 10%;
}

.center {
    text-align: center;
}

.toggle-inputs {
}

.toggle-inputs .toggle {
    margin-right: 10px;
    margin-bottom: 10px;
}

.panel-heading {
    font-size: small;
}
