{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}{% trans "Register" %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Alertify -->
    <link rel="stylesheet" href="{% static "css/alertify.core.css" %}" />
    <link rel="stylesheet" href="{% static "css/alertify.bootstrap.css" %}" />

    <link href="{% static "css/congressus.css" %}" rel="stylesheet">
    <link href="{% static "css/singlerow.css" %}" rel="stylesheet">
    {% block themecss %}{% endblock %}

    {% block extrahead %}{% endblock %}
  </head>
  <body>
    {% block body %}

        <div class="contents">
            <div class="col-md-6 w60">
                {% block q1 %}
                <h1 class="taq">-</h1>
                <audio class="taq" autoplay>
                    <source class="taq" type="audio/mpeg">
                </audio>
                {% endblock %}
            </div>
            <div class="col-md-6 w40">
                {% block q2 %}
                <div class="big-number bg-primary">
                    _
                </div>
                <div class="arrow"></div>
                {% endblock %}
            </div>
            <div class="col-md-6 w60">
                {% block q3 %}
                <video id="ads" autoplay>
                    <source class="taq" type="video/mp4">
                </video>
                {% endblock %}
            </div>
            <div class="col-md-6 w40">
                {% block q4 %}
                <img id="logo" src="">
                {% endblock %}
            </div>
        </div>

        {% block head %}
        {% endblock %}
        {% block translation %}
        {% endblock %}

        <div class="{% block container %}container{% endblock %} content {% block extraclasses %}{% endblock %}">

        {% block messages %}
            {% if messages %}
            <div class="alerts">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    <button class="close" data-dismiss="alert" type="button">×</button>
                    <strong>{{ message|safe }}</strong>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        {% endblock %}

        {% block content %}
        {% endblock %}
        </div>

        {% block foot %}
        {% endblock %}

    {% endblock %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <!-- Alertify -->
    <script src="{{ STATIC_URL }}js/alertify.min.js"></script>

    <script>
    // auto tooltip
    $(function () { $('[data-toggle="tooltip"]').tooltip() });
    </script>

    {% block extrabody %}
    <script>
        var seconds = {{ seconds|safe }};
        var audio = $("audio.taq");
        var event_id = {{ event.id|safe }};
        var arrows = {
            "R": '<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>',
            "L": '<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>',
        };

        setInterval(function() {
            $.ajax({
                type: "GET",
                url: '/singlerow/',
                data: {
                    event_id: event_id,
                },
                success: function(data) {
                    $("h1.taq").html(data.tw_name);
                    $(".big-number").text(data.tw_num);
                    $("source.taq").attr('src', data.url);
                    $(".arrow").html(arrows[data.position]);
                    audio[0].load();
                    audio[0].play();
                },
                error: function(req, status, err) {
                    $("h1.taq").html("-");
                    $(".big-number").text("_");
                    $(".arrow").html("");
                    console.log("ERR", err);
                }
            });
        }, seconds);
    </script>
    {% endblock %}


    {% block themejs %}{% endblock %}

    {% if debug %}
        {% include "debug.html" %}
    {% endif %}
  </body>
</html>

