{% extends "admin/index.html" %}
{% load i18n admin_urls %}

{% block content %}{{ block.super }}
<div id='content-main'>
    <div class="module">
    <table>
        <caption>
            <a href="#" class="section" title="{% blocktrans %}Create invitations and passes{% endblocktrans %}">{% trans "GENERATOR" %}</a>
        </caption>
        <form id="form-gen-invitations" method="POST" action="{% url 'gen_invitations' %}">
            {% csrf_token %}
            <tr class="model-generate">
                <th scope="row"><a href="javascript:document.getElementById('form-gen-invitations').submit();" target="_blank">{% trans "Generate invitations" %}</a></th>
                <td><span>{% trans "type" %}</span>
                    <select id="type-invitations" name="type">
                    </select>
                </td>
                <td><span>{% trans "amount" %}</span>
                <td><input name="amount" type="number" min="1" value="1"></td>
            </tr>
        </form>

        <form id="form-gen-passes" method="POST" action="{% url 'gen_passes' %}">
            {% csrf_token %}
            <tr class="model-generate">
                <th scope="row"><a href="javascript:document.getElementById('form-gen-passes').submit();" target="_blank">{% trans "Generate passes" %}</a></th>
                <td><span>{% trans "type" %}</span>
                    <select id="type-passes" name="type">
                    </select>
                </td>
                <td><span>{% trans "amount" %}</span>
                <td><input name="amount" type="number" min="1" value="1"></td>
            </tr>
        </form>
    </table>
    </div>
</div>
<script src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/generator.js"></script>
{% endblock %}

